<h1>Eat-Da-Burger</h1>

<ul>
	{{#each burgers}}
	<li>
		<p>{{this.id}}.{{this.burger_name}}</p>
	</li>
	{{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="burgername">Burger:</label>
    <input type="text" id="burgername" name="burger_name">
  </div>
  <!-- <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> -->
  <button type="submit">Add burger</button>
</form>